<div class="container ron">
  <h1><%= @header %></h1>
  <form method="post" action="publish">
    <input id="name" type="text" placeholder="<%=@name%>"><br><br>
    <input class="publish" type="submit" value="Publish">

    <p> 
      <span id="addVar">Add Variable</span>
    </p>

  </form>
</div>