<div class="container ron">
  <h1><%= @header %></h1>
  <form method="post" action="/publish">
    <input id="name" type="text" name="name"placeholder="<%= @name %>">
    <br><br>
    <input class="publish" type="submit" value="Publish">
    <div id="addQ">+</div>







  </form>
</div>