<div class="container">
	<h2>Survey:<%=@survey.title%></h2>
	<% num = 1 %>
	<% @survey.questions.each do |question|%>
	<h5>question: <%= num %></h5>
  <p><strong><%= question.content%></strong></p>


     <% question.choices.each do |choice| %>
     <input type="radio"><%= choice.content %></input><br>
     <% end %>
  <% num +=1 %>
  <% end %>
<div>