<div class="container">
  <div><h3 id="title"></h3></div>

  <div id="question"></div>

  <div id="choices"></div>

</div>

<script type="text/javascript">
  var complete = function () {
    // show the results
    // go to another page or something
  }
  
  var survey = new Survey(<%= @survey_json %>, complete);
  
  survey.displayTitle('#title');

  survey.displayQuestion('#question', '#choices');

</script>