<div class="container">
  <h1>GORILLA SURVEYS....</h1>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSZ22kSDe7rDEmrpDswV_s_1vL8qGE_u72U7w--NdPO9psUPxx">
  <div id="login">
    <form name="login" action="/login" method="get">
      <!-- <label for="login">LOGIN</label> -->
      <button type="submit">LOGIN / CREATE ACCOUNT</button>
  </div>
</div>
